<div class="row justify-content-center" style="padding-top: 2%">
    <div class="col-xl-12">
        <div class="card" style="background-color: #FFFFFF; color: #000000">
            <header class="card-header font-small blue">
                Modbus Client >> Modbus Configuration
            </header>
            <article class="card-body">
                <form action='/client-modbus-config' method="POST" id="config_form">
                    <div class="form-group row">
                        <label for="register_size" class="col-sm-2 col-form-label" data-toggle="tooltip"
                               data-placement="bottom"
                               title="The size of the registers being read"><b>Register Size</b></label>
                        <div class="col-sm-2">
                            <select class="form-control form-control-sm" id="register_size" name="register_size"
                                    value={{register_size}}>
                                <option value="16">16 bit</option>
                                <option value="1">1 bit</option>
                                <option value="32">32 bit</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="function_code" class="col-sm-2 col-form-label" data-toggle="tooltip"
                               data-placement="bottom" title="The function code to be used."><b>Function Code</b></label>
                        <div class="col-sm-2">
                            <input id="function_code" name="function_code" type="range" min="0" max="15" class="form-control-sm" value={{
                                   function_code }}>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id_size" class="col-sm-2 col-form-label" data-toggle="tooltip"
                               data-placement="bottom" title="id_size"><b>2 byte ID</b></label>
                        <div class="col-sm-2">
                            <label class="switch switch-label switch-primary"/>
                            <input id="id_size" name="id_size" class="switch-input"
                                   type="checkbox" checked={{ id_size }}>
                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </div>
                    </div>
                    <div class="form-group row">
				    <label for="offset" class="col-sm-2 col-form-label" data-toggle="tooltip" data-placement="bottom" title="Offset to be subtracted from register address."><b>Minus Offset</b></label>
				    <div class="col-sm-2">
				      <input id="offset" name="offset" type="number" class="form-control-sm" value={{ offset }}>
				    </div>
				  </div>
                    <div class="form-group row">
                        <label for="default_flag" class="col-sm-2 col-form-label" data-toggle="tooltip"
                               data-placement="bottom" title="default_flag"><b>Default Settings</b></label>
                        <div class="col-sm-2">
                            <label class="switch switch-label switch-primary"/>
                            <input id="default_flag" name="default_flag" class="switch-input"
                                   type="checkbox" checked={{ default_flag }}>
                            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8">
                            <button name="submit" type="submit" class="btn btn-primary">Submit <i
                                    class="fa fa-spinner fa-spin" id="loading-icon" style="display: none"></i></button>
                        </div>
                    </div>
                    <span style="color: green" id="form-response"></span>
                </form>
            </article> <!-- card-body end .// -->

        </div> <!-- card.// -->
    </div> <!-- col.//-->
</div> <!-- row.//-->
</div>